/* _header.scss */

#ste_container_HeaderLogoSpan img{
	max-width: 200px;
}

/* AUXILIARY NAV BUTTON */
.nav-auxiliary{
	.btn-success, .btn-success *{
		background: #4bbfae;
		text-decoration: none;
		color: #fff;
	}
}
