/* _homePage.scss */

/*=== GO FULL WIDTH ===*/
.HomePageFullWidthArea + #masterContentArea{
	width: 100%;
	max-width: 100%;
	
	.row + .row{
		max-width: $maxWidth;
		margin: auto;
	}
}

/*=== SLIDER ===*/
.home-slide{
	background: url('#{$domain}/Images/foudation/home/foundation-home-banner-red.png');
	.carousel-inner.bg-img > .item{
		background-color: rgba(0,0,0,0.3);
	}
}



/*============= HOMEPAGE SECONDARY ===============*/
.home-secondary {
border-top: 10px solid;

	&.hs1 {
		border-color: $brandOrange;
	}
	&.hs2 {
		border-color: $brandBlue;
	}
	&.hs3 {
		border-color: $brandRed;
	}
	> div {
		padding: 0px 7px;
	}
}
