/* _homePage.scss */

/*=== GO FULL WIDTH ===*/
.HomePageFullWidthArea + #masterContentArea{
	width: 100%;
	max-width: 100%;
	
	.row:first-child > .col-sm-12{
		padding: 0px;
	}
	.row + .row{
		max-width: $maxWidth;
		margin: auto;
	}
}

/*=== SLIDER ===*/
.home-slide{
	max-width: $maxWidth;
	margin: auto;

	.carousel-inner.bg-img > .item{
		background-color: rgba(0,0,0,0.7);
	}
	.carousel-caption, .carousel-caption h2{
		text-align: left;
	}
	.carousel-caption .h4{
		text-align: right;
	}

}
.home-primary-slider{
	background: url('#{$domain}/Images/foudation/home/foundation-home-banner-red.png');
}



/*============= HOMEPAGE SECONDARY ===============*/
.home-secondary {
border-top: 10px solid;

	&.hs1 {
		border-color: $brandOrange;
	}
	&.hs2 {
		border-color: $brandBlue;
	}
	&.hs3 {
		border-color: $brandRed;
	}
	> div {
		padding: 0px 7px;
	}
}
